<div class="body-page-not-found">

    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right" style="margin-top:10px;">
                    <div class="col-md-10 col-md-offset-1 pull-right">
                        <img class="img-error" src="https://bootdey.com/img/Content/fdfadfadsfadoh.png">
                        <h2>404</h2>
                        <p>Elnézést, hiba történt, a keresett oldal nem található!</p>
                        <div class="error-actions">
                            <a href="/" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                Back Home 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

