<div class="main-div">
    <div class="container">
        <div class="panel-body text-center">
        <div class="search-header">
            <h1>KERESS RECEPTRE VAGY HOZZÁVALÓRA</h1>
        </div>
        <form>
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">
            </span>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg> -->
            <input type="text" id="form-Search" value=""  role="searchbox" class="input-box " placeholder="Ide írd amit keresel..." autocomplete="on">
            <input type="submit" id="btn-search" class="btn btn-success" value="KERESÉS">
        </form>
             <div class="advanced-search">
                <h3>
                    <a href="/kereses" class="btn btn-success btn-lg active" id="advanced-search-button" role="button" aria-pressed="true">Részletes kereső</a>
                </h3>
            </div> 
        </div>
    </div>
</div>