<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- 
<div class="container">
<div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-md-4" id="entire-panel">
        <a class="recipe-card-article" href="receptek/tesztak/blognai-spageti">
        <div class="panel panel-default foodcard" id="main-panel">
          <div class="panel-body text-center">
            <div class="recipe-card-maincontent">
              <div class="recipe-card-pic">
                <div class="recipe-card-pic-shop-cart">
                  <button class="btn-shop-cart"></button>
                </div>
                <div class="recipe-card-pic-save">
                  <button class="btn-save"></button>
                </div>
                <div class="recipe-card-pic-img">
                  <img src="https://images.unsplash.com/photo-1635264685671-739e75e73e0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80;" alt="" class="recipe-card-pic-img">
                </div>
              </div>
                 <div class="recipe-card-category">
                <a href="kategoria/tesztak"><h4 class="category">Tészta</h4></a>
              </div>
              <div class="recipe-card-name">
                <h3 class="recipe-name">Bolognai spageti</h3>
              </div>
            </div>
            <div class="uploader">
                <img class="uploader-pic" src="https://image.freepik.com/free-icon/person-street-view-symbol_318-1051.jpg">
                <p class="uploader-name">Kovács Mónika</p>
            </div>
                <br>
              <div class="recipe-properties">
                <div class="row">
                  <div class="col-sm">
                    <div class="sub-col">
                      <img class="properties-box-img" src="https://image.freepik.com/free-icon/four-o-clock_318-9208.jpg">             
                    </div>
                    <div class="sub-col">
                      <p class="properties-box-paragraph">70 perc</p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="sub-col">
                      <img class="properties-box-img" src="https://cdn-icons-png.flaticon.com/512/5223/5223396.png">
                    </div>
                    <div class="sub-col">
                      <p class="properties-box-paragraph">3 adag</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <div class="sub-col">
                      <img class="properties-box-img" src="https://image.flaticon.com/icons/png/512/1255/1255668.png">              
                    </div>
                    <div class="sub-col">
                       <p class="properties-box-paragraph">egyszerű</p>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="sub-col">
                      <img class="properties-box-img" src="https://image.flaticon.com/icons/png/512/1254/1254360.png">                  
                    </div>
                   <div class="sub-col">
                      <p class="properties-box-paragraph">megfizethetö</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </a>
      </div>
    </div>
    </div> -->




    <!-- second version with article tag -->
    
<div class="container">
  <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-md-4" id="entire-panel">
          <article class="recipe-card-article-main">          
          <a class="recipe-card-article" href="receptek/tesztak/blognai-spageti">
          </a>
          <div class="panel panel-default foodcard" id="main-panel">
            <div class="panel-body text-center">
              <div class="recipe-card-maincontent">
                <div class="recipe-card-pic">
                  <div class="recipe-card-pic-shop-cart">
                    <button class="btn-shop-cart"></button>
                  </div>
                  <div class="recipe-card-pic-save">
                    <button class="btn-save"></button>
                  </div>
                  <div class="recipe-card-pic-img">
                    <img src="https://images.unsplash.com/photo-1635264685671-739e75e73e0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80;" alt="" class="recipe-card-pic-img">
                  </div>
                </div>
                   <div class="recipe-card-category">
                  <a href="kategoria/tesztak"><h4 class="category">Tészta</h4></a>
                </div>
                <div class="recipe-card-name">
                  <h3 class="recipe-name">Bolognai spageti</h3>
                </div>
              </div>
              <div class="uploader">
                  <img class="uploader-pic" src="https://image.freepik.com/free-icon/person-street-view-symbol_318-1051.jpg">
                  <p class="uploader-name">Kovács Mónika</p>
              </div>
                  <br>
                <div class="recipe-properties">
                  <div class="row">
                    <div class="col-sm">
                      <div class="sub-col">
                        <img class="properties-box-img" src="https://image.freepik.com/free-icon/four-o-clock_318-9208.jpg">             
                      </div>
                      <div class="sub-col">
                        <p class="properties-box-paragraph">70 perc</p>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="sub-col">
                        <img class="properties-box-img" src="https://cdn-icons-png.flaticon.com/512/5223/5223396.png">
                      </div>
                      <div class="sub-col">
                        <p class="properties-box-paragraph">3 adag</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <div class="sub-col">
                        <img class="properties-box-img" src="https://image.flaticon.com/icons/png/512/1255/1255668.png">              
                      </div>
                      <div class="sub-col">
                         <p class="properties-box-paragraph">egyszerű</p>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="sub-col">
                        <img class="properties-box-img" src="https://image.flaticon.com/icons/png/512/1254/1254360.png">                  
                      </div>
                     <div class="sub-col">
                        <p class="properties-box-paragraph">megfizethetö</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </article>
        </div>
      </div>
      </div>