<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<app-search></app-search>

<div class="container">
  <h1>RECEPTEK</h1>
</div>






    
<div class="container">
  <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-md-4" id="entire-panel">
          <div class="recipe-card-pic-shop-cart">
            <button class="btn-shop-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg>
            </button>
          </div>
          <div class="recipe-card-pic-save">
            <button class="btn-save">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
              </svg>
            </button>
          </div>

          <!-- <article class="recipe-card-article-main">      -->
          <a class="recipe-card-article" href="receptek/bolognai-spageti">
          
          <div class="panel panel-default foodcard" id="main-panel">
            <div class="panel-body text-center">
              <div class="recipe-card-maincontent">
                <div class="recipe-card-pic">
                 
                  <div class="recipe-card-pic-img">
                    <img src="https://images.unsplash.com/photo-1635264685671-739e75e73e0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80;" alt="" class="recipe-card-pic-img">
                  </div>
                </div>
                   <div class="recipe-card-category">
                  <a href="kategoria/tesztak"><h4 class="category">Tészta</h4></a>
                </div>
                <div class="recipe-card-name">
                  <h3 class="recipe-name">Bolognai spageti</h3>
                </div>
              </div>
              <div class="uploader">
                  <img class="uploader-pic" src="https://image.freepik.com/free-icon/person-street-view-symbol_318-1051.jpg">
                  <p class="uploader-name">Kovács Mónika</p>
              </div>
                  <br>
                <div class="recipe-properties">
                  <div class="row">
                    <div class="col-sm">
                      <div class="sub-col">
                        <img class="properties-box-img" src="https://image.freepik.com/free-icon/four-o-clock_318-9208.jpg">             
                      </div>
                      <div class="sub-col">
                        <p class="properties-box-paragraph">70 perc</p>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="sub-col">
                        <img class="properties-box-img" src="https://cdn-icons-png.flaticon.com/512/5223/5223396.png">
                      </div>
                      <div class="sub-col">
                        <p class="properties-box-paragraph">3 adag</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <div class="sub-col">
                        <img class="properties-box-img" src="https://image.flaticon.com/icons/png/512/1255/1255668.png">              
                      </div>
                      <div class="sub-col">
                         <p class="properties-box-paragraph">egyszerű</p>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="sub-col">
                        <img class="properties-box-img" src="https://image.flaticon.com/icons/png/512/1254/1254360.png">                  
                      </div>
                     <div class="sub-col">
                        <p class="properties-box-paragraph">megfizethetö</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        <!-- </article> -->
      </a>
        </div>
      </div>
      </div>


<app-pagination></app-pagination>

   