<div class="register-body">

<div class="col-md-6 pt-5 pt-sm-3">
    <h2 class="h4 mb-3">Nincs fiókja? Regisztráljon!</h2>
    <p class="text-muted mb-4">A regisztráció kevesebb mint egy percet vesz igénybe, de teljes ellenőrzést biztosít receptjei felett.</p>
    <form class="needs-validation" novalidate="">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="reg-ln">Név</label>
                    <input class="form-control" type="text" required="" id="reg-ln">
                    <div class="invalid-feedback">Kérem írja be a nevét!</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="reg-email">E-mail cím</label>
                    <input class="form-control" type="email" required="" id="reg-email">
                    <div class="invalid-feedback">Kérjük, érvényes e-mail címet adjon meg!</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="reg-password">Jelszó</label>
                    <input class="form-control" type="password" required="" id="reg-password">
                    <div class="invalid-feedback">Kérjük, írja be a jelszót!</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="reg-password-confirm">Jelszó Megerősítése</label>
                    <input class="form-control" type="password" required="" id="reg-password-confirm">
                    <div class="invalid-feedback">A jelszavak nem egyeznek!</div>
                </div>
            </div>
            
        </div>
        <div class="text-right">
            <button class="btn btn-primary" type="submit">Regisztráció</button>
        </div>
        <br>
    </form>
</div>
</div>
