
    <div class="omb_login">
      <h3 class="omb_authTitle">Jelentkezz be vagy <a href="/regisztracio">Regisztrálj</a></h3>



  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">	
        <form class="omb_loginForm" action="" autocomplete="off" method="POST">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="email" id="email"  placeholder="E-mail cím">
        </div>
        <span class="help-block"></span>
                 <div id="username-password-space"></div> 
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input  type="password" class="form-control" name="password" placeholder="Jelszó">
        </div>
        <!-- <div *ngIf="">
          <span class="help-block">Password error</span>
        </div> -->
        <div id="username-password-space"></div> 
                  

        <button class="btn btn-lg btn-primary btn-block" type="submit">Bejelentkezés</button>
      </form>
    </div>
    </div>
  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-3">
      <label class="checkbox">
        <input type="checkbox" value="remember-me">Felhasználónév megjegyzése
      </label>
    </div>
    <div class="col-xs-12 col-sm-3">
      <p class="omb_forgotPwd">
        <a href="/reset-password">Elfelejtett jelszó?</a>
      </p>
    </div>
  </div>	    	
</div>
  

    