<div id="main-div">
    <div class="search-header w-100" id="search-header" style="background-image: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80); height: 400px;">
        <div id="header-title" class="container">
            <h1>KERESS RECEPTRE VAGY HOZZÁVALÓRA</h1>
        </div>
        <div id="header-search-input"  class="container">
            <input name="search" type="text" id="searchsiteSearch-input" class="form-control" value="" required="">
        </div>
        <div id="header-search-complex"  class="container">
        <h3> <a href="/kereses" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Részletes kereső</a></h3>
        </div>    
    </div>
</div>
<app-recipe></app-recipe>

