 /* @media (min-width: 1200px){
    #headerMenus, .nav-separator::after, #headerMenus .nav-separators .nav-item::after {
    content: "";
    border-left: 1px solid #fff;
    right: -1px;
    top: 11px;
    position: absolute;
    height: 16px;
}
} */
/*
*, ::after, ::before {
    box-sizing: border-box;
} */
/* 
.nav-item::after{
    content: "|";
    color: red;    
} */

.nav-item{
    padding-right: 5px;
}