<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <a>
                <div id="recipe-food-image-container" class="contact-box center-version">
                    <img id="" class="responsive"
                        src="https://images.unsplash.com/photo-1635264685671-739e75e73e0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80;">
                    <button class="btn" id="recipe-save-button">
                        <!-- <img id="recipe-save-img" class="responsive" alt="Recipe save"
                            src="https://cdn-icons.flaticon.com/png/512/5662/premium/5662990.png?token=exp=1642518703~hmac=74b467d4d1bfe2b0c1f9fbdd284945ad"> -->
                    </button>
                    <button class="btn" id="shoping-cart-button">
                        <!-- <img id="shoping-cart-img" class="responsive" alt="Recipe Shoping Cart"
                            src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png"> -->
                    </button>

                    <!-- <div id="recipe-save-container">
                        
                    </div>
                    <div id="recipe-shoping-cart-container">
                        
                    </div> -->

                </div>


                <div id="kategoria">
                    <div id="kis-ábra">
                        <h5 class="m-b-xs"><strong>Tészták</strong></h5>
                    </div>
                </div>
                <h4 id="recept-neve"></h4>
                <div id="feltöltő">
                    kép
                    <p></p>
                </div>
                <div id="atributumok" class="attribs">
                    <div id="elkeszitesi-ido">
                        <span id="kis ábra"></span>
                        <p>45 perc</p>
                    </div>
                    <div id="adag">
                        <span id="kis ábra"></span>
                        <p>4 adag</p>
                    </div>
                    <div id="nehezseg">
                        <span id="kis ábra"></span>
                        <p>Egyszerű</p>
                    </div>
                    <div id="arkategoria">
                        <span id="kis ábra"></span>
                        <p>átlagos</p>
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>