#recipe-save-img{
    height: 30px;
    width: 30;
}

#shoping-cart-img{
    height: 30px;
    width: 30;
}
#recipe-food-image-container{
    position: relative;
    width: 50%;
}
#recipe-food-image-container img{
    width: 100%;
    height: auto;
}
#recipe-food-image-container .btn{
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#recipe-save-container{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

#recipe-shoping-cart-container{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.responsive{
    width: 100%;
  height: auto;
}