<footer>
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Recept</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Olcsó receptek</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Magyaros Ételek</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Palacsinta receptek</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Egytálételek</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Spagetti receptek</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Egészség</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Diéták</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Saláta receptek</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Diéta és Fitnesz</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Érzékenység és allergia</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Légy egészséges</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Kedvenceink</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Péksuli</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Cukkinis receptek</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Csirkemell receptek</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Receptek gyerekeknek</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gyors receptek</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://about:blank/">receptek-mindenkinek.hu</a></u> </p>
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://about:blank/" target="_blank">Own</a></p>
            </div>
            <hr>
        </div>	
    </div>
</section>
</footer>