<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a class="recipe-card-article" href="receptek/tesztak/blognai-spageti">
        <div class="panel panel-default foodcard">
          <!-- <div class="panel-heading">
            
            <a href="" class="availablity btn btn-circle btn-success"><i class="fa fa-check"></i></a>
           </div> -->
          <div class="panel-body text-center">

            <div class="recipe-card-maincontent">
              <div class="recipe-card-pic"> <img src="https://images.unsplash.com/photo-1635264685671-739e75e73e0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80;" alt="" class="recipe-card-pic-img"> </div>
              <h4 class="category">Tészta</h4>
              <h3 class="recipe-name">Bolognai spageti</h3>
            </div>
            <div class="uploader">
                <img class="uploader-pic" src="https://cdn-icons.flaticon.com/png/512/1144/premium/1144760.png?token=exp=1642599567~hmac=b0aec250af0fcd1cf5bb116b677a3f11">
                <p class="uploader-name">Kovács Mónika</p>
            </div>
                <br>

<!-- 
              <div class="recipe-properties">
                <div class="recipe-properties-row">
                  <div class="recipe-properties-box">
                    <img class="properties-box-img" src="https://cdn-icons.flaticon.com/png/512/2838/premium/2838794.png?token=exp=1642603216~hmac=f0b9a9fd57c0c800dade1fd6ed668029">
                    <p class="properties-box-paragraph">70 perc</p>
                  </div>
                  <div class="recipe-properties-box">
                    <img class="properties-box-img" src="https://cdn-icons-png.flaticon.com/512/5223/5223396.png">
                    <p class="properties-box-paragraph">3 adag</p>
                  </div>
                </div>
                <div class="recipe-properties-row">
                  <div class="recipe-properties-box">
                    <img class="properties-box-img" src="https://cdn-icons.flaticon.com/png/512/1256/premium/1256936.png?token=exp=1642604390~hmac=98ed3c3c6fa7b9a542ea61b217bdab86">
                    <p class="properties-box-paragraph">egyszerű</p>
                  </div>
                  <div class="recipe-properties-box">
                    <img class="properties-box-img" src="https://cdn-icons.flaticon.com/png/512/2806/premium/2806373.png?token=exp=1642604582~hmac=cc0670053a184163348ab91b6c45a151">
                    <p class="properties-box-paragraph">megfizethetö</p>
                  </div>
                </div>
              </div> -->


               <!-- táblába rendezés lehet megoldás -->

              <div class="recipe-properties">
                <div class="recipe-properties-row">
                  <div class="recipe-properties-box">
            
                    <img class="properties-box-img" src="https://cdn-icons.flaticon.com/png/512/2838/premium/2838794.png?token=exp=1642603216~hmac=f0b9a9fd57c0c800dade1fd6ed668029">
                    <p class="properties-box-paragraph">70 perc</p>
                  </div>
                  <div class="recipe-properties-box">
                    <img class="properties-box-img" src="https://cdn-icons-png.flaticon.com/512/5223/5223396.png">
                    <p class="properties-box-paragraph">3 adag</p>
                  </div>
                </div>
                <div class="recipe-properties-row">
                  <div class="recipe-properties-box">
                    <img class="properties-box-img" src="https://cdn-icons.flaticon.com/png/512/1256/premium/1256936.png?token=exp=1642604390~hmac=98ed3c3c6fa7b9a542ea61b217bdab86">
                    <p class="properties-box-paragraph">egyszerű</p>
                  </div>
                  <div class="recipe-properties-box">
                    <img class="properties-box-img" src="https://cdn-icons.flaticon.com/png/512/2806/premium/2806373.png?token=exp=1642604582~hmac=cc0670053a184163348ab91b6c45a151">
                    <p class="properties-box-paragraph">megfizethetö</p>
                  </div>
                </div>
              </div>

            
          </div>
        </div>
      </a>

      </div>


    </div>
    </div>

<!-- <div>
    <p>it's working!</p>
</div> -->