<form class="recipe-add-form">


<div class="food-title">
  <input type="text" class="form-control" id="recipe-title-input" aria-describedby="recipeText" placeholder="Név">
</div>
<br>
<div class="image-upload">
  <div *ngIf="currentFile" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" />
  </label>
  <!-- <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
    Kép feltöltése
  </button> -->
  <div class="alert alert-light" role="alert">{{ message }}</div>
  <div class="card">
    <div class="card-header">Fájlok listája</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of fileInfos | async"
    >
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="characteristics">
  <h2>Jellemzők</h2>
  <br>
  <div class="category">
    <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Kategória</option>
      <option value="1">aprósütemény</option>
      <option value="2">befőttek</option>
      <option value="3">bonbonok</option>
    </select> -->
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option disabled selected value="null">Kategória</option>
      <option *ngFor="let recipeCategory of recipeCategories" [value]="recipeCategory.name">
        {{recipeCategory.name}}
      </option>
    </select>
  </div>
  <br>
  <div class="cuisine">
    <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Konyha</option>
      <option value="1">afrikai</option>
      <option value="2">amerikai</option>
      <option value="3">angol</option>
    </select> -->
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option disabled selected value="null">Konyha</option>
      <option *ngFor="let cuisine of cuisines" [value]="cuisine.name">
        {{cuisine.name}}
      </option>
    </select>
  </div>
  <br>
  <div class="portion">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Adag</option>
      <option value="1">1 főre</option>
      <option value="2">2 főre</option>
      <option value="3">3 főre</option>
      <option value="4">4 főre</option>
      <option value="5">5 főre</option>
      <option value="6">6 főre</option>
      <option value="7">7 főre</option>
      <option value="8">8 főre</option>
      <option value="9">9 főre</option>
      <option value="10">10 főre</option>
      <option value="11">11 főre</option>
      <option value="12">12 főre</option>
    </select>
  </div>
  <br>
  <div class="difficulty">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Nehézség</option>
      <option value="1">könnyű</option>
      <option value="2">közepes</option>
      <option value="3">nehéz</option>
    </select>
  </div>
  <br>
  <div class="price">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Költség</option>
      <option value="1">nagyon olcsó</option>
      <option value="2">olcsó</option>
      <option value="3">megfizethető</option>
      <option value="3">drága</option>
    </select>
  </div>
</div>
<br>
  
<div class="time">
  <h2>Elkészítési idő</h2>
  <input type="number" class="form-control" id="recipe-time-input" aria-describedby="recipeTime" placeholder="Elkészítési idő">
</div>
<br>
 
<div class="part-of-the-day">
    <h2>Mikor</h2>
    <input type="checkbox" class="btn-check" id="btn-check-breakfast" autocomplete="off">
    <label class="btn btn-outline-success" for="btn-check-breakfast">reggeli</label>

    <input type="checkbox" class="btn-check" id="btn-check-brunch" autocomplete="off">
    <label class="btn btn-outline-success" for="btn-check-brunch">tízorai</label>

  <input type="checkbox" class="btn-check" id="btn-check-lunch" autocomplete="off">
  <label class="btn btn-outline-success" for="btn-check-lunch">ebéd</label>

  <input type="checkbox" class="btn-check" id="btn-check-snack" autocomplete="off">
  <label class="btn btn-outline-success" for="btn-check-snack">uzsonna</label>

  <input type="checkbox" class="btn-check" id="btn-check-dinner" autocomplete="off">
  <label class="btn btn-outline-success" for="btn-check-dinner">vacsora</label>
</div>


<div class="season">
  <h2>Szezon</h2>
  <input type="checkbox" class="btn-check" id="btn-check-spring" autocomplete="off">
  <label class="btn btn-outline-success" for="btn-check-spring">tavasz</label>

  <input type="checkbox" class="btn-check" id="btn-check-1-summer" autocomplete="off">
  <label class="btn btn-outline-success" for="btn-check-1-summer">nyár</label>

  <input type="checkbox" class="btn-check" id="btn-check-2-autumn" autocomplete="off">
  <label class="btn btn-outline-success" for="btn-check-2-autumn">ősz</label>

  <input type="checkbox" class="btn-check" id="btn-check-3-winter" autocomplete="off">
  <label class="btn btn-outline-success" for="btn-check-3-winter">tél</label>
</div>

  <h2>Fázisok</h2>
<div class="phases">
  
  <div class="ingredients" style="position: relative; padding-bottom: 200px;">
    <h2>Hozzávalók</h2>
    <br>

    <div id="ingredients-container"></div>
    <!-- <div class="ingredients-add-button" style="position:absolute; bottom:0; height: 200px; padding-top: 20px;">
      <button (click)="addIngredientsDiv()">
        <span style="padding-right: 5px;">Hozzávaló hozzáadása</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </button>
    </div> -->

    <div class="ingredients-add-button" >
      <button (click)="addIngredientsDiv()">
        <span style="padding-right: 5px;">Hozzávaló hozzáadása</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </button>
    </div>
    <br>

<!-- 
    <div class="ingredients-add-container" id="ingredients-add-container" *ngIf="ingredientsAddContainer">
      <input type="search" 
      (ngModelChange)="searchIngredients(key.value)" #key="ngModel" ngModel name="key" id="searchIngredients" [(ngModel)]="searchText"
          class="form-control mr-sm-2" aria-describedby="ingredientText"
           placeholder="Alapanyagok" required>

           <input type="search" 
      (ngModelChange)="searchIngredients(key.value)"
       #key="ngModel" ngModel name="key" id="searchIngredients"
          class="form-control mr-sm-2" aria-describedby="ingredientText"
           placeholder="Alapanyagok" required>

           <input type="search" 
       id="searchIngredients"
          class="form-control mr-sm-2" aria-describedby="ingredientText"
           placeholder="Alapanyagok" required>
      <br>
      <div class="search-result">
        <ul *ngFor="let ingredient of ingredients">
          <li>{{ingredient.name}}</li>
        </ul>
      </div>

      <div class="search-result">
        <ul *ngFor="let ingredient of ingredients | filter: searchText">
          <li>{{ingredient.name}}</li>
        </ul>
      </div>

      <div class="unit">
      <input type="number" class="form-control" id="ingredient-input-number" aria-describedby="ingredientNumber" placeholder="mennyiség" style="width: 50%;">
        
          <select class="form-select form-select-sm" id="ingredient-input-select" aria-label=".form-select-sm example" style="width: 50%;">
            <option selected>Mértékegység</option>
            <option value="g">g</option>
            <option value="dkg">dkg</option>
            <option value="kg">kg</option>
            <option value="ml">l</option>
            <option value="dl">ml</option>
            <option value="l">dl</option>
            <option value="csipet">csipet</option>
            <option value="késhegynyi">késhegynyi</option>
            <option value="kávéskanál">kávéskanál</option>
            <option value="teáskanál">teáskanál</option>
            <option value="evőkanál">evőkanál</option>
            <option value="csepp">csepp</option>
            <option value="izlés szerint">izlés szerint</option>
          </select>
        </div>
        <br>
        <button (click)="hideIngredientsDiv()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
        
    </div> -->



    <div class="ingredients-add-container" id="ingredients-add-container" *ngIf="ingredientsAddContainer">
      <input type="search" 
      (ngModelChange)="searchIngredients(key.value)" #key="ngModel" ngModel name="key" id="searchIngredients" [(ngModel)]="searchText"
          class="form-control mr-sm-2" aria-describedby="ingredientText"
           placeholder="Alapanyagok" required>
      <br>
      <div class="search-result">
        <ul *ngFor="let ingredient of ingredients">
          <li>{{ingredient.name}}</li>
        </ul>
      </div>
      <div class="unit">
      <input type="number" class="form-control" id="ingredient-input-number" aria-describedby="ingredientNumber" placeholder="mennyiség" style="width: 50%;">
          <select class="form-select form-select-sm" id="ingredient-input-select" aria-label=".form-select-sm example" style="width: 50%;">
            <option selected>Mértékegység</option>
            <option value="g">g</option>
            <option value="dkg">dkg</option>
            <option value="kg">kg</option>
            <option value="ml">l</option>
            <option value="dl">ml</option>
            <option value="l">dl</option>
            <option value="csipet">csipet</option>
            <option value="késhegynyi">késhegynyi</option>
            <option value="kávéskanál">kávéskanál</option>
            <option value="teáskanál">teáskanál</option>
            <option value="evőkanál">evőkanál</option>
            <option value="csepp">csepp</option>
            <option value="izlés szerint">izlés szerint</option>
          </select>
        </div>
        <br>
        <button (click)="hideIngredientsDiv()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
    </div>
    
  </div>

  <div class="Steps">
    <h2 style="border-top: 1px solid lightgrey; padding-top: 30px;">Lépések</h2>
    <br>
    <div class="steps-add-button" style="padding-top: 20px;">
      <button (click)="addStepsDiv()">
        <span style="padding-right: 5px;">További lépés hozzáadása</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </button>
    </div>
    <div class="steps-add-container"  *ngIf="stepsAddContainer">
      <input type="text" class="form-control" id="ingredient-input-text" aria-describedby="ingredientText" placeholder="Leírás">
      <button (click)="hideStepsDiv()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </button>
    </div>
    
  </div>
  <br>
</div>
<div class="text-center">
  <button class="btn btn-success" (click)="upload()">
    Recept beküldése
  </button>
</div>

</form>